/* AXES */
/* ticks */
.axis line{
stroke: #706f6f;
stroke-width: 0.5;
shape-rendering: crispEdges;
}

/* axis contour */
.axis path {
stroke: #706f6f;
stroke-width: 0.7;
shape-rendering: crispEdges;
}

/* axis text */
.axis text {
fill: #2b2929;
font-family: Georgia;
font-size: 120%;
}

/* LINE CHART */

path {
fill: none;
stroke: #000000;
}

/*Temp*/
path.line-0 {
stroke: #ff7706;
}

/*Oxy Elec*/
path.line-1 {
stroke: #666666;
}

/*Sa*/
path.line-2 {
stroke: #30fb20;
}

/*Oxy Sat*/
path.line-3 {
stroke: #109b05;	
}

/* LINE LABELS */
.serie_label {
fill: #2b2929;
font-family: Georgia;
font-size: 80%;
}